article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

body {
	--color-text: #F4E9CD;
	--color-bg: #254D58;
	--color-link: #80ffdb;
	--color-link-hover: #F4E9CD;
	--color-slide-text: #F4E9CD;
	--color-nav: #80ffdb;
	--color-nav-hover: #F4E9CD;
	--font-trail-weight: 900;
	--font-trail-size: 12vh;
	--font-trail-lheight: 0.75;
	--font-trail-family: 'Cairo', sans-serif; 
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: 'Cairo', sans-serif;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover {
	color: var(--color-link-hover);
	outline: none;
}

.frame {
	/* padding: 3rem 5vw 0; */
	text-align: center;
	position: relative;
	z-index: 1000;
	display:flex;
	justify-content: space-between;
}

.frame__title {
	font-size: 1rem;
	margin: 0 0 1rem;
	font-size: 2rem;
}

.frame__link {
	margin-left: 5px;
	margin-right: 5px;
	vertical-align: bottom;
}

.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
	margin-right: 1rem;
}

.frame__demos {
	margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
	color: var(--color-text);
}

.content {
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
	grid-template-areas: 'main';
	height: calc(100vh - 19rem);
	width: 100%;
	margin: 0 auto;
	position: relative;
	pointer-events: none;
}

.content__slide {
	grid-area: main;
	width: 90%;
	height: 100%;
	overflow: hidden;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
	grid-template-areas: 'inner';
	align-items: center;
	opacity: 0;
	pointer-events: none;
	align-self: center;
}

.content__slide--current {
	opacity: 1;
}

.content__img,
.content__text-wrap {
	grid-area: inner;
	width: 30%;
}

.content__img {
	height: 70%;
	width: 100%;
	justify-self: center;
	overflow: hidden;
	position: relative;
	margin-top: 20px;
}

.content__img--full::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
}

.content__img-inner {
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
	background-size: cover;
	background-color: #254D58;
}

.content__text-wrap {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	align-content: flex-end;
}

.content__text {
	overflow: hidden;
	flex: 1;
	opacity: 0;
	pointer-events: none;
	align-self: flex-start;
	justify-self: flex-start;
	z-index: 10;
}

.content__text:nth-child(6) {
	opacity: 1;
}

.content__text--full {
	flex: none;
}

.content__text-inner {
	display: block;
	color: var(--color-slide-text);
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: var(--font-trail-weight);
	line-height: var(--font-trail-lheight);
	font-family: var(--font-trail-family);
}

.content__text-inner--bottom {
	transform: translate3d(0,-40%,0);
}

.content__text-inner--stroke {
	-webkit-text-stroke: 2px var(--color-slide-text);
	-webkit-text-fill-color: transparent;
	color: transparent;
}

.card__grid {
	justify-content: flex-start;
	align-content: flex-end;
	position: absolute;
	top: 0;
	right: 0;
	width: 32rem;
	z-index: 11;
	pointer-events: auto;
}

.card__element {
	width: 27rem;
	height: 12rem;
	perspective: 1000px;
	justify-self: flex-end;
	float: right;
	margin: 1rem;
	position: relative;
	vertical-align: top;
}

/* flip card horizontally on hover */
.card__element:hover .card__element-inner{
	transform: rotateY(-180deg);
}

.card__element-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 2s;
	transform-style: preserve-3d;
	background-color: #031926;
	color: #F4E9CD;
	border-radius: 16px;
	line-height: 3rem;
	border-radius: 16px;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
}

.card__element-front {
	padding: 1rem;
} 

.card__element-front,
.card__element-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.card__element-skill-grid {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}

.card__element-back {
	transform: rotateY(-180deg);
}

.card__element-location {
	font-weight: 700;
	font-size: 24px;
	line-height: 2.5rem;
}

.card__element-skill {
	font-weight: 700;
	font-size: 24px;
	height: 50%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card__element-description {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5rem;
}

.card__element-title {
	font-weight: 900;
	font-size: 32px;
	color: #F4E9CD;
	line-height: 2.5rem;
}

a.skill-link {
	text-decoration: inherit;
	color: inherit;
	position: absolute;
}

a.skill-link:hover {
	color: #F4E9CD;
	line-height: 1.5rem;
}

p.skill-link {
	line-height: 1.5rem;
}

.content__nav {
	grid-area: main;
	justify-self: start;
	align-self: start;
	width: 40%;
	max-width: 900px;
	height: auto;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	font-size: 1.25rem;
	position: relative;
	pointer-events: auto;
}

.content__nav-button {
	border: 0;
	cursor: pointer;
	background: none;
	margin: 0.25rem 0;
	padding: 0;
	text-transform: lowercase;
	color: var(--color-nav);
	font-weight: 900;
	line-height: 1;
}

.content__nav-button:hover {
	color: var(--color-link-hover);
	outline: none;
}

.content__nav-button--curr {
	color: #F4E9CD;
}

.content__nav-button:focus {
	outline: #F4E9CD;
}

@media screen and (min-width: 53em) {
	:root {
		font-size: 16px;
	}
	.frame {
		position: fixed;
		text-align: left;
		z-index: 10000;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 20vh;
		padding: 1.5rem;
		pointer-events: none;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'title links'
							'... ...'
	}
	.frame__title-wrap {
		grid-area: title;
		display: flex;
		z-index: 1;
	}
	.frame__title {
		font-size: 3rem;
		padding: 0;
		margin: 0;
	}
	.frame__tagline {
		grid-area: tagline;
		justify-self: end;
		margin: 0;
		text-align: right;
	}
	.frame__demos {
		margin: 0;
		grid-area: demos;
		justify-self: end;
	}
	.frame__links {
		grid-area: links;
		padding: 3px;
		justify-self: end;
	}
	.links {
		border: none;
		background-color: transparent;
		justify-self: center;
	}
	.frame a {
		pointer-events: auto;
	}
	.content {
		height: 100vh;
	}
	.content__img {
		width: 100%;
		height: 80%;
		justify-content: flex-end;
		position: relative;
		z-index: 9;
		margin-top: 50px;
	}
	.content__img--full {
		height: calc(100vh + 20px);
		width: calc(100vw + 20px);
		max-width: none;
		max-height: none;
	}
	.content__text-inner {
		font-size: var(--font-trail-size);
	}
	.content__nav {
		align-self: center;
		flex-direction: column;
		justify-content: flex-start;
		margin-top: 30vh;
		font-size: 1.75rem;
		z-index: 10;
	}
}
